@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap');
html 
{
	font-family: 'Shippori Mincho', Georgia, "Times New Roman", Times, serif;
    font-size: 1.125em;
    line-height: 1.55555em;
    padding: 1.555555em;
    background: #ecd6a6;
}

h1
{
	font-size: 200%;
	font-weight: bold;
	padding-bottom: 0.5em;
	text-align: center;
}

input 
{
	margin-bottom: 0.5em;
}

@media screen and (min-width: 18.75em) 
{
	#wrap 
	{
		display: inline-block;
		justify-content: center;
	}
}